@import url("https://fonts.googleapis.com/css?family=Ubuntu");
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: block;
}

main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header, nav, footer, section, article, div {
    width: 100%;
}

.header__title, .header__subtitle {
    text-align: right;
    vertical-align: top;
}

.header__title {
    font-size: 4em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.hero_img {
    min-height: 450px;
}
.project {
  min-height: 150px;
}

.red {
  background-color: #EC1D3B;
}

.green {
  background-color: #0C8542;
}

.dark_blue {
  background-color: #2A457A;
  color: #efefef;
}

.orange {
  background-color: #F79420;
}
/*
Responsive style.
*/

.container {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 380px) {
    .project {
        width: 33.333333%;
    }
}

@media screen and (min-width: 900px) {
    .container {
        width: 900px;
        margin: 0px auto;
    }
}
