@import url("https://fonts.googleapis.com/css?family=Ubuntu");
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: block;
}

main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header, nav, footer, section, article, div {
    width: 100%;
}

.header {
    min-height: 70px;
    max-height: 250px;
}

.header__logo {
    display: block;
    margin: 0 auto;
    min-height: 70px;
    max-height: 130px;
}

.header__title, .header__subtitle {
    text-align: center;
    vertical-align: top;
}

.header__title {
    font-size: 2em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.hero_img {
    min-height: 150px;
    background-image: url("../img/code-coding-computer-248515.jpg");
    background-size: cover;
    position: relative;
    text-overflow: ellipsis;
    overflow: scroll;

}

#paragraph {
    color: white;
    display: inline-block;
    position: absolute;
    font-size: 1em;
    position: absolute;
    bottom: 0px;
    max-height: 150px;
}

}

.project {
  min-height: 150px;
  text-align: center;
}

#proj_1 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/17/Chaos_Theory_%26_Double_Pendulum_-_3.jpg");
    background-size: cover;
    background-position: center;
}

#proj_2 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/fa/Ikea_warehouse_interior.JPG");
    background-size: cover;
    background-position: center;
}

#proj_3 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Melk_-_Abbey_-_Library.jpg/1200px-Melk_-_Abbey_-_Library.jpg");
    background-size: cover;
    background-position: center;
}

.project a {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: white;
}

/*
Responsive style.
*/

.container {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 380px) {
    .header__logo {
        display: inline-block;
        margin: 0 0;
        float: left;
    }

    .project {
        width: 33.333333%;
    }

    .hero_img {
        min-height: 300px;
    }

    #paragraph {
        max-height: 300px;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 900px) {
    .container {
        width: 900px;
        margin: 0px auto;
    }

    .hero_img {
        min-height: 450px;
    }

    #paragraph {
        max-height: 450px;
    }
}
